.container{
    background-color:#eff1f3;
    min-height:100vh;
    position:relative;
    display:flex;
    flex-direction: column;
}
@media only screen and (min-width: 850px) {
  .container {
    flex-direction: row;
  }
  .nav {
    flex-direction: row;
  }
}


.reviewsContainer{
   composes:aboutContainer from "./intro.module.css";
   background-color:#CAD9FA;
}