.layout {
  /* background-color:#eff1f3; */
  width:100%;
  display:flex;
  flex-direction: column;
}
.container{
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 850px) {
  .layout {
    flex-direction: row;
  }
  .container {
    width:82vw;
    height:100vh;
    overflow: auto;
  }
}
