.aboutContainer{
    position:relative;
    display:flex;
    flex-direction: column;
    padding:15px;
    align-items: center;
}
.aboutHeader {
  color:#3448BE;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing:1.5px;
}
.aboutParagraph {
  color:#223843;
  font-family: Caladea;
  font-size:1.1em;
  text-align: center;
  width:90%;
  max-width:650px;
  margin:5px;
}
.aboutLink {
  text-decoration: none;
  font-family: Montserrat;
  border:1px solid #3448BE;
  border-radius:5px;
  color:#3448BE;
  width:150px;
  display:flex;
  justify-content: center;
  align-items:center;
  padding:10px;
  margin:10px;
}