.aboutHeader {
  color:rgb(52, 72, 190);
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing:1.5px;
}
.container{
  position: relative;
  width:100%;
  max-width:700px;
  padding:20px;
  padding-top:0;
}
.aboutParagraph {
  color:#223843;
  font-family: Montserrat;
  font-size:1.1em;
  text-align: left;
}
.aboutLink {
  text-decoration: none;
  font-family: Montserrat;
  border:1px solid #3448BE;
  border-radius:5px;
  color:#3448BE;
  width:150px;
  display:flex;
  justify-content: center;
  align-items:center;
  padding:10px;
  margin-top:10px;
}