.nav {
  position: relative;
  height:65px;
  display:flex;
  align-items: center;
  justify-content: center;
  background:#eff1f3;
}

.logoContainer{
  display:flex;
  height:100%;
  align-items: center;
}
.company{
  color: #545559;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing:1.5px;
}
.menuToggle{
  margin-left:auto;
  margin-right:15px;
  height:35px;
  cursor: pointer;
}
.linksContainer {
  position:absolute;
  width:100%;
  top:100%;
  z-index:5;
  transition: height 500ms ease-in-out;
  border-bottom:1px solid #545559;
  background:#eff1f3;
}
.group {
  display:none;
  align-items: center;
  justify-content: flex-start;
  font-size:1.3rem;
  animation: fadeIn ease 1s;
}
.link{
  position: relative;
  font-family: Montserrat;
  color: #545559;
  text-decoration: none;
  font-size:1.1rem;
  width:100%;
  height:100%;
  padding:12px;
  padding-left:45px;
  cursor: pointer;
  z-index:10;
}
.link:hover{
  background:rgba(0,0,0,.1);
  font-weight:bold;
}
.active{
  composes:link;
  background:rgba(0,0,0,.1);
  font-weight:bold;
}
.icon{
  height:25px;
  width:25px;
  position:absolute;
  left:0;
  margin-left:10px;
  z-index:1;
}

.footer{
  display:none;
  flex-direction: column;
  position: absolute;
  width:100%;
  bottom:45px;
  border-top:1px solid  #545559;
  border-bottom:1px solid  #545559;
  width:90%;
  left:50%;
  transform: translateX(-50%);
}
.Txt {
  text-decoration: none;
  color: #545559;
  font-size: .85rem;
  padding:10px;
  display:flex;
  align-items: center;
  justify-content: center;
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@media only screen and (min-width: 850px) {
  .logoContainer{
    flex-direction: column;
    width:100%;
    height:20%;
    align-items:center;
  }
  .nav {
    height:100vh;
    width:18vw;
    flex-direction: column;
    justify-content: flex-start;
  }
  .menuToggle{
    display:none;
  }
  .linksContainer{
    display:flex;
    flex-direction: column;
    position: relative;
    top:0;
    width:100%;
    flex:1;
  }
  .group,.footer{
    display:flex;
  }
}
