
.container {
  composes: container from "./intro.module.css";
}
.header {
  composes: aboutHeader from "./intro.module.css";
}
.rating {
  composes: aboutHeader from "./intro.module.css";
}
.avatar{
  width:50px;
  margin-top:15px;
}
.from {
  composes: servicesHeader from "./services.module.css";
  color:#223843;
  margin:0;
}
.text {
  composes: aboutParagraph from "./intro.module.css";
  text-align:center;
  width:80%;
  margin:5px;
}
.slide{
  position: relative;
  display:flex !important;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.stars {
  display:flex;
}
.link {
  composes: aboutLink from "./intro.module.css";
  position: relative;
  left:50%;
  transform: translateX(-50%);
  margin-top:40px;
}