
.container {
  position: relative;
  max-width:100%;
  display:flex;
  flex-direction: column;
}
.header {
  font-weight: 300;
  margin-top:40px;
  margin-bottom:20px;
  color: #545559;
}
.rating {
}
.avatar{
  width:50px;
  margin-top:15px;
}
.from {
  composes: servicesHeader from "./services.module.css";
  color:#223843;
  margin:0;
}
.text {
  text-align:center;
  width:80%;
  max-width: 700px;
  margin:5px;
}
.slide{
  position: relative;
  display:flex !important;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.stars {
  display:flex;
  margin:5px; 
}
.link {
  text-decoration: none;
  position: relative;
  margin-top:40px;
  width:100%;
  background: #545559;
  padding:15px;
  text-align: center;
  color:lightgray
}

@media only screen and (min-width: 850px) {
  .link{
    max-width:300px;
    left:50%;
    transform: translateX(-50%);
    margin-bottom:20px;
    border-radius: 5px;
  }
}