.servicesContainer  {
    composes: aboutContainer from "./intro.module.css";
    flex:1;
}
.servicesIntro  {
    composes: servicesContainer;
}
.servicesHeader{
    composes: aboutHeader from "./intro.module.css";
    align-self:center;
    margin:10px;
    color:#223843;
    border-bottom: 1px solid #3448BE;
    text-align: center;
}
.servicesImg{
    width:75px;
    align-self:center;
    margin:5px;
}

.servicesFlex{
    display:flex;
    flex-direction: column;
}
@media only screen and (min-width: 550px) {
  .servicesFlex {
    flex-direction: row;
  }
}
.service {
  font-family: Caladea;
  font-weight:300;
  font-size: 1.1em;
  color:#223843;
}