.servicesFlex{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:700px;
    margin-top:10px;
}
.servicesContainer  {
  display:flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  align-items: center;
  padding:15px;
}
.servicesIntro  {
    composes: servicesContainer;
}
.servicesHeader{
    composes: aboutHeader from "./intro.module.css";
    font-weight: bold;
    margin-top:5px;
    margin-bottom:5px;
    color:#223843;
}
.servicesImg{
    width:75px;
    margin:5px;
}


.service {
  font-family: Montserrat;
  font-weight:300;
  font-size: 1.1em;
  color:#223843;
}
@media only screen and (min-width: 550px) {
  .servicesFlex {
    flex-direction: row;
  }
}