.serviceContainer{
  display:flex;
  margin-bottom:5px;
  align-items: center;
}
.serviceLogo{
  width:15px;
  margin-right:5px;
}
.service {
  font-family: Caladea;
  font-weight:300;
  font-size: 1.1em;
  color:#223843;
}